<!--
	Copyright 2009 The Go Authors. All rights reserved.
	Use of this source code is governed by a BSD-style
	license that can be found in the LICENSE file.
-->
<!--
	Note: Static (i.e., not template-generated) href and id
	attributes start with "pkg-" to make it impossible for
	them to conflict with generated attributes (some of which
	correspond to Go identifiers).
-->

	<script type='text/javascript'>
	document.ANALYSIS_DATA = ;
	document.CALLGRAPH = ;
	</script>

	
		
		<div id="short-nav">
			<dl>
			<dd><code>import "eizwho"</code></dd>
			</dl>
			<dl>
			<dd><a href="#pkg-overview" class="overviewLink">Overview</a></dd>
			<dd><a href="#pkg-index" class="indexLink">Index</a></dd>
			
			
				<dd><a href="#pkg-subdirectories">Subdirectories</a></dd>
			
			</dl>
		</div>
		<!-- The package's Name is printed as title by the top-level template -->
		<div id="pkg-overview" class="toggleVisible">
			<div class="collapsed">
				<h2 class="toggleButton" title="Click to show Overview section">Overview ▹</h2>
			</div>
			<div class="expanded">
				<h2 class="toggleButton" title="Click to hide Overview section">Overview ▾</h2>
				
				
			</div>
		</div>

		<div id="pkg-index" class="toggleVisible">
		<div class="collapsed">
			<h2 class="toggleButton" title="Click to show Index section">Index ▹</h2>
		</div>
		<div class="expanded">
			<h2 class="toggleButton" title="Click to hide Index section">Index ▾</h2>

		<!-- Table of contents for API; must be named manual-nav to turn off auto nav. -->
			<div id="manual-nav">
			<dl>
			
			
			
				
				<dd><a href="#ConnectDB">func ConnectDB() error</a></dd>
			
				
				<dd><a href="#Ping">func Ping(client *mongo.Client, t int) error</a></dd>
			
				
				<dd><a href="#SearchByField">func SearchByField(ctx context.Context, fs FieldSearch) (b []byte, err error)</a></dd>
			
				
				<dd><a href="#SearchByPipeline">func SearchByPipeline(ctx context.Context, collection *mongo.Collection, pipeline interface{}) (b []byte, err error)</a></dd>
			
				
				<dd><a href="#SearchByTitle">func SearchByTitle(titleMatch string) (b []byte, err error)</a></dd>
			
			
				
				<dd><a href="#Award">type Award</a></dd>
				
				
			
				
				<dd><a href="#DBConnect">type DBConnect</a></dd>
				
				
			
				
				<dd><a href="#FieldSearch">type FieldSearch</a></dd>
				
				
			
				
				<dd><a href="#OtherName">type OtherName</a></dd>
				
				
			
				
				<dd><a href="#Participant">type Participant</a></dd>
				
				
			
				
				<dd><a href="#ParticipantName">type ParticipantName</a></dd>
				
				
			
				
				<dd><a href="#StoryLine">type StoryLine</a></dd>
				
				
			
				
				<dd><a href="#Title">type Title</a></dd>
				
				
			
				
				<dd><a href="#TitleParticipants">type TitleParticipants</a></dd>
				
				
			
			
			</dl>
			</div><!-- #manual-nav -->

		

		
			<h3>Package files</h3>
			<p>
			<span style="font-size:90%">
			
				<a href="/src/eizwho/eizwho.go">eizwho.go</a>
			
				<a href="/src/eizwho/queries.go">queries.go</a>
			
				<a href="/src/eizwho/title.go">title.go</a>
			
				<a href="/src/eizwho/views.go">views.go</a>
			
			</span>
			</p>
		
		</div><!-- .expanded -->
		</div><!-- #pkg-index -->

		<div id="pkg-callgraph" class="toggle" style="display: none">
		<div class="collapsed">
			<h2 class="toggleButton" title="Click to show Internal Call Graph section">Internal call graph ▹</h2>
		</div> <!-- .expanded -->
		<div class="expanded">
			<h2 class="toggleButton" title="Click to hide Internal Call Graph section">Internal call graph ▾</h2>
			<p>
			  In the call graph viewer below, each node
			  is a function belonging to this package
			  and its children are the functions it
			  calls&mdash;perhaps dynamically.
			</p>
			<p>
			  The root nodes are the entry points of the
			  package: functions that may be called from
			  outside the package.
			  There may be non-exported or anonymous
			  functions among them if they are called
			  dynamically from another package.
			</p>
			<p>
			  Click a node to visit that function's source code.
			  From there you can visit its callers by
			  clicking its declaring <code>func</code>
			  token.
			</p>
			<p>
			  Functions may be omitted if they were
			  determined to be unreachable in the
			  particular programs or tests that were
			  analyzed.
			</p>
			<!-- Zero means show all package entry points. -->
			<ul style="margin-left: 0.5in" id="callgraph-0" class="treeview"></ul>
		</div>
		</div> <!-- #pkg-callgraph -->

		
		
		
			
			
			<h2 id="ConnectDB">func <a href="/src/target/eizwho.go?s=1247:1269#L38">ConnectDB</a>
				<a class="permalink" href="#ConnectDB">&#xb6;</a>
				
				
			</h2>
			<pre>func ConnectDB() <a href="/pkg/builtin/#error">error</a></pre>
			<p>
ConnectDB is the exported routine for performing the database connection
</p>

			
			

		
			
			
			<h2 id="Ping">func <a href="/src/target/eizwho.go?s=2290:2334#L87">Ping</a>
				<a class="permalink" href="#Ping">&#xb6;</a>
				
				
			</h2>
			<pre>func Ping(client *<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/">mongo</a>.<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/#Client">Client</a>, t <a href="/pkg/builtin/#int">int</a>) <a href="/pkg/builtin/#error">error</a></pre>
			<p>
Ping is used to test for a db connection
</p>

			
			

		
			
			
			<h2 id="SearchByField">func <a href="/src/target/queries.go?s=1501:1578#L54">SearchByField</a>
				<a class="permalink" href="#SearchByField">&#xb6;</a>
				
				
			</h2>
			<pre>func SearchByField(ctx <a href="/pkg/context/">context</a>.<a href="/pkg/context/#Context">Context</a>, fs <a href="#FieldSearch">FieldSearch</a>) (b []<a href="/pkg/builtin/#byte">byte</a>, err <a href="/pkg/builtin/#error">error</a>)</pre>
			<p>
SearchByField uses the mongo `find` function to search for records that match the `field` field
with the `fieldMatch` string.  The result is then marshalled into JSON and returned as a byte
slice of JSON.  When something fails, an error is returned.
</p>

			
			

		
			
			
			<h2 id="SearchByPipeline">func <a href="/src/target/queries.go?s=2771:2887#L105">SearchByPipeline</a>
				<a class="permalink" href="#SearchByPipeline">&#xb6;</a>
				
				
			</h2>
			<pre>func SearchByPipeline(ctx <a href="/pkg/context/">context</a>.<a href="/pkg/context/#Context">Context</a>, collection *<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/">mongo</a>.<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/#Collection">Collection</a>, pipeline interface{}) (b []<a href="/pkg/builtin/#byte">byte</a>, err <a href="/pkg/builtin/#error">error</a>)</pre>
			<p>
SearchByPipeline uses the mongo&#39;s aggregate pipeline feature to search for records that survive
the pipeline flow.  The result is then marshalled into JSON and returned as a byte slice of JSON.
When something fails, an error is returned.
</p>

			
			

		
			
			
			<h2 id="SearchByTitle">func <a href="/src/target/queries.go?s=364:423#L7">SearchByTitle</a>
				<a class="permalink" href="#SearchByTitle">&#xb6;</a>
				
				
			</h2>
			<pre>func SearchByTitle(titleMatch <a href="/pkg/builtin/#string">string</a>) (b []<a href="/pkg/builtin/#byte">byte</a>, err <a href="/pkg/builtin/#error">error</a>)</pre>
			<p>
SearchByTitle uses the mongo `find` function to search for records that match
the `titleMatch` argument.  The return is a byte slice of JSON and, when something
fails, an error message.
</p>

			
			

		
		
			
			
			<h2 id="Award">type <a href="/src/target/title.go?s=801:1119#L8">Award</a>
				<a class="permalink" href="#Award">&#xb6;</a>
				
				
			</h2>
			<p>
Award contains details of an award won
</p>

			<pre>type Award struct {
<span id="Award.AwardWon"></span>    AwardWon     <a href="/pkg/builtin/#bool">bool</a>     `json:&#34;AwardWon&#34; bson:&#34;AwardWon&#34;`
<span id="Award.AwardYear"></span>    AwardYear    <a href="/pkg/builtin/#int">int</a>      `json:&#34;AwardYear&#34; bson:&#34;AwardYear&#34;`
<span id="Award.Participants"></span>    Participants []<a href="/pkg/builtin/#string">string</a> `json:&#34;Participants&#34; bson:&#34;Participants&#34;`
<span id="Award.Award"></span>    Award        <a href="/pkg/builtin/#string">string</a>   `json:&#34;Award&#34; bson:&#34;Award&#34;`
<span id="Award.AwardCompany"></span>    AwardCompany <a href="/pkg/builtin/#string">string</a>   `json:&#34;AwardCompany&#34; bson:&#34;AwardCompany&#34;`
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="DBConnect">type <a href="/src/target/eizwho.go?s=714:1152#L17">DBConnect</a>
				<a class="permalink" href="#DBConnect">&#xb6;</a>
				
				
			</h2>
			<p>
DBConnect contains all of the parameters needed to connect to a mongo database
The mongo documentation (<a href="https://docs.mongodb.com/manual/reference/connection-string/">https://docs.mongodb.com/manual/reference/connection-string/</a>)
declares the URI connection scheme to be this:
</p>
<p>
mongodb://[username:password@]host1[:port1][,...hostN[:portN]]][/[database][?options]]
</p>
<p>
Todo:  add options capabilities to connection URI
</p>

			<pre>type DBConnect struct {
<span id="DBConnect.Host"></span>    <span class="comment">// Host is mandatory name of host</span>
    Host <a href="/pkg/builtin/#string">string</a> `json:&#34;host&#34;`

<span id="DBConnect.Port"></span>    <span class="comment">// Port is mandatory port through which to connect on db server</span>
    Port <a href="/pkg/builtin/#int">int</a> `json:&#34;port&#34;`

<span id="DBConnect.User"></span>    <span class="comment">// User is an optional db user name</span>
    User <a href="/pkg/builtin/#string">string</a> `json:&#34;user&#34;`

<span id="DBConnect.Password"></span>    <span class="comment">// Password is an optional db user password</span>
    Password <a href="/pkg/builtin/#string">string</a> `json:&#34;password&#34;`

<span id="DBConnect.DBName"></span>    <span class="comment">// DBName is the optional name of the database to which a connection will be made</span>
    DBName <a href="/pkg/builtin/#string">string</a> `json:&#34;dbname&#34;`
}
</pre>

			

			
				
				<pre>var (
    <span class="comment">// MongoClient is the global client variable for the mongo database</span>
    <span id="MongoClient">MongoClient</span> *<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/">mongo</a>.<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/#Client">Client</a>

    <span class="comment">// DBC contains the DBConnect data needed to connect to the database</span>
    <span id="DBC">DBC</span> <a href="#DBConnect">DBConnect</a>
)</pre>
			

			
			
			

			

			
		
			
			
			<h2 id="FieldSearch">type <a href="/src/target/queries.go?s=1140:1240#L45">FieldSearch</a>
				<a class="permalink" href="#FieldSearch">&#xb6;</a>
				
				
			</h2>
			
			<pre>type FieldSearch struct {
<span id="FieldSearch.Collection"></span>    Collection *<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/">mongo</a>.<a href="/pkg/github.com/mongodb/mongo-go-driver/mongo/#Collection">Collection</a>
<span id="FieldSearch.Field"></span>    Field      <a href="/pkg/builtin/#string">string</a>
<span id="FieldSearch.FieldMatch"></span>    FieldMatch interface{}
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="OtherName">type <a href="/src/target/title.go?s=1199:1512#L17">OtherName</a>
				<a class="permalink" href="#OtherName">&#xb6;</a>
				
				
			</h2>
			<p>
OtherName contains details about other names by which a title may be known
</p>

			<pre>type OtherName struct {
<span id="OtherName.TitleNameLanguage"></span>    TitleNameLanguage <a href="/pkg/builtin/#string">string</a> `json:&#34;TitleNameLanguage&#34; bson:&#34;TitleNameLanguage&#34;`
<span id="OtherName.TitleNameType"></span>    TitleNameType     <a href="/pkg/builtin/#string">string</a> `json:&#34;TitleNameType&#34; bson:&#34;TitleNameType&#34;`
<span id="OtherName.TitleNameSortable"></span>    TitleNameSortable <a href="/pkg/builtin/#string">string</a> `json:&#34;TitleNameSortable&#34; bson:&#34;TitleNameSortable&#34;`
<span id="OtherName.TitleName"></span>    TitleName         <a href="/pkg/builtin/#string">string</a> `json:&#34;TitleName&#34; bson:&#34;TitleName&#34;`
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="Participant">type <a href="/src/target/title.go?s=1653:2042#L26">Participant</a>
				<a class="permalink" href="#Participant">&#xb6;</a>
				
				
			</h2>
			<p>
Participant contains details about participants in the work.
This can be an actor, producer, editor, studio, etc., on-screen or off.
</p>

			<pre>type Participant struct {
<span id="Participant.IsKey"></span>    IsKey           <a href="/pkg/builtin/#bool">bool</a>   `json:&#34;IsKey&#34; bson:&#34;IsKey&#34;`
<span id="Participant.RoleType"></span>    RoleType        <a href="/pkg/builtin/#string">string</a> `json:&#34;RoleType&#34; bson:&#34;RoleType&#34;`
<span id="Participant.IsOnScreen"></span>    IsOnScreen      <a href="/pkg/builtin/#bool">bool</a>   `json:&#34;IsOnScreen&#34; bson:&#34;IsOnScreen&#34;`
<span id="Participant.ParticipantType"></span>    ParticipantType <a href="/pkg/builtin/#string">string</a> `json:&#34;ParticipantType&#34; bson:&#34;ParticipantType&#34;`
<span id="Participant.Name"></span>    Name            <a href="/pkg/builtin/#string">string</a> `json:&#34;Name&#34; bson:&#34;Name&#34;`
<span id="Participant.ParticipantID"></span>    ParticipantID   <a href="/pkg/builtin/#int">int</a>    `json:&#34;ParticipantId&#34; bson:&#34;ParticipantId&#34;`
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="ParticipantName">type <a href="/src/target/views.go?s=16:86#L1">ParticipantName</a>
				<a class="permalink" href="#ParticipantName">&#xb6;</a>
				
				
			</h2>
			
			<pre>type ParticipantName struct {
<span id="ParticipantName.Name"></span>    Name <a href="/pkg/builtin/#string">string</a> `json:&#34;Name&#34; bson:&#34;Name&#34;`
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="StoryLine">type <a href="/src/target/title.go?s=2095:2280#L36">StoryLine</a>
				<a class="permalink" href="#StoryLine">&#xb6;</a>
				
				
			</h2>
			<p>
StoryLine has information about the story line.
</p>

			<pre>type StoryLine struct {
<span id="StoryLine.Description"></span>    Description <a href="/pkg/builtin/#string">string</a> `json:&#34;Description&#34; bson:&#34;Description&#34;`
<span id="StoryLine.Language"></span>    Language    <a href="/pkg/builtin/#string">string</a> `json:&#34;Language&#34; bson:&#34;Language&#34;`
<span id="StoryLine.Type"></span>    Type        <a href="/pkg/builtin/#string">string</a> `json:&#34;Type&#34; bson:&#34;Type&#34;`
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="Title">type <a href="/src/target/title.go?s=75:757#L1">Title</a>
				<a class="permalink" href="#Title">&#xb6;</a>
				
				
			</h2>
			<p>
Title is the main structure for the `Titles` collection
</p>

			<pre>type Title struct {
<span id="Title.Awards"></span>    Awards            []<a href="#Award">Award</a>       `json:&#34;Awards&#34; bson:&#34;Awards&#34;`
<span id="Title.Genres"></span>    Genres            []<a href="/pkg/builtin/#string">string</a>      `json:&#34;Genres&#34; bson:&#34;Genres&#34;`
<span id="Title.OtherNames"></span>    OtherNames        []<a href="#OtherName">OtherName</a>   `json:&#34;OtherNames&#34; bson:&#34;OtherNames&#34;`
<span id="Title.Participants"></span>    Participants      []<a href="#Participant">Participant</a> `json:&#34;Participants&#34; bson:&#34;Participants&#34;`
<span id="Title.ReleaseYear"></span>    ReleaseYear       <a href="/pkg/builtin/#int">int</a>           `json:&#34;ReleaseYear&#34; bson:&#34;ReleaseYear&#34;`
<span id="Title.Storylines"></span>    Storylines        []<a href="#StoryLine">StoryLine</a>   `json:&#34;Storylines&#34; bson:&#34;Storylines&#34;`
<span id="Title.TitleID"></span>    TitleID           <a href="/pkg/builtin/#int">int</a>           `json:&#34;TitleId&#34; bson:&#34;TitleId&#34;`
<span id="Title.TitleName"></span>    TitleName         <a href="/pkg/builtin/#string">string</a>        `json:&#34;TitleName&#34; bson:&#34;TitleName&#34;`
<span id="Title.TitleNameSortable"></span>    TitleNameSortable <a href="/pkg/builtin/#string">string</a>        `json:&#34;TitleNameSortable&#34; bson:&#34;TitleNameSortable&#34;`
    <span class="comment">// contains filtered or unexported fields</span>
}
</pre>

			

			

			
			
			

			

			
		
			
			
			<h2 id="TitleParticipants">type <a href="/src/target/views.go?s=159:264#L1">TitleParticipants</a>
				<a class="permalink" href="#TitleParticipants">&#xb6;</a>
				
				
			</h2>
			<p>
TitleParticipants is the main structure for the `Titles` collection
</p>

			<pre>type TitleParticipants struct {
<span id="TitleParticipants.Participants"></span>    Participants <a href="#ParticipantName">ParticipantName</a> `json:&#34;Participants&#34; bson:&#34;Participants&#34;`
}
</pre>

			

			

			
			
			

			

			
		
	

	





	
	
		<h2 id="pkg-subdirectories">Subdirectories</h2>
	
	<div class="pkg-dir">
		<table>
			<tr>
				<th class="pkg-name">Name</th>
				<th class="pkg-synopsis">Synopsis</th>
			</tr>

			
			<tr>
				<td colspan="2"><a href="..">..</a></td>
			</tr>
			

			
				<tr>
				
					<td class="pkg-name" style="padding-left: 0px;">
						<a href="confusion/">confusion</a>
					</td>
				
					<td class="pkg-synopsis">
						
					</td>
				</tr>
			
				<tr>
				
					<td class="pkg-name" style="padding-left: 20px;">
						<a href="confusion/confusion/">confusion</a>
					</td>
				
					<td class="pkg-synopsis">
						
					</td>
				</tr>
			
				<tr>
				
					<td class="pkg-name" style="padding-left: 20px;">
						<a href="confusion/main/">main</a>
					</td>
				
					<td class="pkg-synopsis">
						
					</td>
				</tr>
			
				<tr>
				
					<td class="pkg-name" style="padding-left: 0px;">
						<a href="main/">main</a>
					</td>
				
					<td class="pkg-synopsis">
						
					</td>
				</tr>
			
				<tr>
				
					<td class="pkg-name" style="padding-left: 20px;">
						<a href="main/test/">test</a>
					</td>
				
					<td class="pkg-synopsis">
						
					</td>
				</tr>
			
		</table>
	</div>

